#menu {
  list-style-type: none;
  float: left;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0.5em;
  width: 10em;
  margin-left: 12px;
  text-align:center;
}

#menu li {
  margin: 0.5em 0.2em 0.5em 0.2em;
  padding: 0.2em;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  background-color: #eee;
  cursor: pointer;
}

#menu li:hover {
  background-color: #ACCDFF;
}

#menu a {
  font-family: courier, courier new;
  text-decoration: none;
  color: #000;
  width: 9em;
}

#menu li.active {
  background-color: #008DFF;

}

#content {
  font-family: courier, courier new;
  font-size: 0.9em;  
  margin-left: 15em;
}

h1 {
  font-size:1.2em;
}

h2 {
  font-size:1.0em;
}

#lightbox{
  background-color:#eee;
  padding: 10px;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  }
#lightboxDetails{
  font-size: 0.8em;
  padding-top: 0.4em;
  }
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{ border: none; }
#overlay img{ border: none; }

#overlay{ background-image: url(overlay.png); }
