
<div style="clear:both;">&nbsp;</div>

<a name="history">&nbsp;</a>
<h1 style="margin-left: 15px;">History</h1>

<div class="middlebox">
	<div class="box_title">2014-08-12:</div> 
    <div class="box_content">
    <p>
        <strong>New stable release 0.3.3-1</strong><br/>
    <ul>        
        <li>gpg4usb-0.3.3-1 additionally contains a 64-bit linux binary now, so there's no need to have 32-bit compatibility
            libraries installed on a 64-bit linux system anymore</li>
        <li>this release contains japanese translation, thanks a lot to Andoh.</li>
        <li>we changed the behaviour of the "remove double linebreaks"-action. It doesn't filter GPG-headers anymore</li>
        <li>we updated the included GnuPG-binaries from 1.4.16 to 1.4.18 for fixing some security issues (have a look at the changelog of GnuPG <a href="http://lists.gnupg.org/pipermail/gnupg-announce/2014q2/000344.html">1.4.17</a> and <a href="http://lists.gnupg.org/pipermail/gnupg-announce/2014q2/000347.html">1.4.18</a>).</li>
    </ul>
            You may download <a href="/download/gpg4usb-0.3.3-1.zip">gpg4usb-0.3.3-1</a> now.</p>
    <p>
        <strong>New alpha release 0.4</strong><br/>
	This release additionally contains binaries for MacOS. But since we had to rewrite the whole core, this release needs a lot of testing. So, if you want to be sure, better get the stable release. If you want to have a look what is planned for the release when it is finished have a look on our <a href="http://cpunk.de/svn/src/gpg4usb/trunk/TODO" title="TODO-List">TODO-List</a>.<br/>
	Changes in this release till now:
    <ul>  
<li>added encrypt to self functionality, so that every message additionally is encrypted for the choosen key</li>	
<li>added find widget</li>	
<li>added posibility to change path of keydb for using the keydb of other applications</li>	
<li>show key details in an extra tab, not in a window</li>	
<li>added refresh key from keyserver</li>	
<li>added upload key to keyserver</li>	
<li>added possiblity to add/remove keyservers</li>	
<li>added posibility for creating RSA-keys</li>	
<li>removed key management and integrated these functionalities in main window</li>	
    </ul>      
	You may download <a href="http://gpg4usb.org/nightly/gpg4usb-0.4.0-alpha-r1120.zip">gpg4usb-0.4-alpha</a> now.
    </p>
  
    </div>
</div>

<div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2014-01-03:</div> 
    <div class="box_content">

    <p>After a long time of silence we have some updates for you.</p>
    <p>       
        <strong>Domain move</strong><br/>
        Our domain has moved, now you will find us on <a href="http://gpg4usb.org">http://gpg4usb.org</a>, please update your links.
    </p>
    <p>
        <strong>New stable Release 0.3.3</strong><br/>
    <ul>        
        <li>gpg4usb-0.3.3 fixes a bug which made private key export impossible, 
            when gpg4usb was started from a path containing non ascii characters.</li>
        <li>This release contains greek translation, thanks a lot to George.</li>
        <li>The gpg.conf was modified according to 
            <a href="http://www.apache.org/dev/openpgp.html#sha1">the apache gnupg 
            recommondations</a> to avoid the use of sha1.</li>  
        <li>We have bundled gnupg 1.4.16 with release 0.3.2-1. This gnupg version 
            fixes a DoS Bug, see 
            <a href="http://lists.gnupg.org/pipermail/gnupg-announce/2013q4/000334.html">announcement 0.4.15</a>, 
            and also an interesting attack, which allowed to sniff a private key 
            with a mobilephone ;-)
            <a href="http://lists.gnupg.org/pipermail/gnupg-announce/2013q4/000337.html">announcement 0.4.16</a>.
        </li>
    </ul>
            You may download <a href="http://gpg4usb.org/download/gpg4usb-0.3.3.zip">gpg4usb-0.3.3</a> now.</p>
    <p>
        <strong>FAQ & Known Bugs</strong><br/>
        We now have a <a href="http://gpg4usb.org/faq.html">FAQ</a> and <a href="http://gpg4usb.org/bugs.html">Known Bugs</a> section on the website, please have a look on these before asking for support.
    </p>

    <p>
        <strong>Donations</strong><br/>
        Some people told us that they like gpg4usb and would want to donate. We are happy if you enjoy gpg4usb, 
        and about your feedback. If you want to donate we would be happy if you support 
        <a href="http://frontlinedefenders.org/donate">Frontlinedefenders</a>, as they could do better things with the 
        money, and, you know, they provided us with the mac mini :). You could also take part in the fund raising campaign for gnupg on <a href="http://goteo.org/project/gnupg-new-website-and-infrastructure/">goteo.org</a> if you have some money to spend.
    </p>
    </div>
</div>

<div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2012-09-10:</div> 
	<div class="box_content"><p>We received some hints that the default key generation settings are not sufficient anymore.
	Gpg4usb was still generating DSA/El-Gamal Keys. Here is a press report of an experiment breaking a 932bit El-Gamal Crypto Key with 21
	personal computers (252 cores) in 148.2 days <a href="http://www.fujitsu.com/global/news/pr/archives/month/2012/20120618-01.html" title="Fujitsu: Breaking El-Gamal Crypto Key">
	[link]</a>.</p> 
	<p>So we finally put out a release which generates safer keys by default. Also it was suggested to us that keys should expire by
	default, as they may get closer to beeing breakable with time. So we now set a default expiration date of 5 years. You could still
	change this setting yourself.</p>

	<p>Changes: </p>
<ul>
  		<li>Updated included gpg binary to version 1.4.12</li>
  		<li>In key creation we changed the following
    <ul>
	    <li>Set keytype to RSA instead of DSA/El-Gamal</li>
	    <li>Set expiration to five years by default</li>
	    <li>Set minimum keysize to 1024 bit</li>
	  </ul>
	</li>
</ul>

	<p>Bugfixes:</p>
<ul>
		<li>Fix creation of empty Windows registry key on import from existing GnuPG</li>
</ul>

</div></div>
<div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2012-04-22:</div>
	<div class="box_content"><p>Jedi fixed some typos and beautified translation of traditional chinese. Thanks to him for the new translation files. The new files are contained in the <a href="download.html" title="Download">0.3.2 zip file</a>.</p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2012-04-17:</div>
	<div class="box_content"><p>With Polish the next language arrived. Cheers to Bogaczm who has made the translation. The new bundled version is in the  <a href="download.html" title="Download">0.3.2 zip file</a>.</p>
	<p><img src="./pics/gpg4usb-0.3.2-polish.jpg" alt="gpg4usb Polish translation" width="510px;" /></a></p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2012-04-16:</div>
	<div class="box_content"><p>Now gpg4usb is also available in Hebrew. Very much thanks to Elad for providing us the translation. The new bundled version is in the  <a href="download.html" title="Download">0.3.2 zip file</a>.</p>
	<p><img src="./pics/gpg4usb-0.3.2-hebrew.jpg" alt="gpg4usb Hebrew translation" /></a></p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2012-04-13:</div>
	<div class="box_content"><p>We just integrated Swedish language files. Many thanks to Åke who has done the Swedish translation. The new bundled version is in the  <a href="download.html" title="Download">0.3.2 zip file</a>.</p>
	<p><img src="./pics/gpg4usb-0.3.2-swedish.jpg" alt="gpg4usb Swedish translation" width="510px;" /></a></p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2012-04-13:</div>
	<div class="box_content"><p>Jedi kindly provided us a translation file for traditional Chinese. It is now in the <a href="download.html" title="Download">0.3.2 zip file</a>. Thanks a lot.</p>
	<p><img src="./pics/gpg4usb-0.3.2-trad-chinese.jpg" alt="gpg4usb traditional chinese translation" /></a></p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2012-04-11:</div> 
	<div class="box_content"><p>Although gpg4usb 0.3.2 has a wizard, it did not arise magically out of nothing. 
	We put some work in a first start wizard, an offline help system and did bug fixing as usual (same procedure as every release).</p>
	<p>Our translators worked hard on bringing your localized versions. 0.3.2 comes with nine languages, 
	the latest localisation is Arabic which was done by Ahmad (cheerio to him).</p>
	<p><img src="./pics/gpg4usb-0.3.2-arabic.jpg" alt="gpg4usb arabic translation" /></p>
	<p>Unfortunately we had to remove italian localisation, since it wasn't updated since 0.2.5 and is really outdated now. 
	If someone likes to step in, the italian language files are still available. Since we didn't receive updated 
	Vietnamese and Burmese translations yet, these are still like version 0.3.1, so the new features are not translated.</p>

<p>New features:</p>
<ul>
		<li>First start wizard with posibility to 
	<ul>
			<li>create new key</li>
			<li>import config and keys from old version</li>
			<li>import from locally installed GnuPG</li>
	</ul>
		</li>
	
		<li>Integrated offline help system</li>
		<li>Dialog with result of key import</li>
		<li>Key details dialog more user friendly</li>
		<li>Zoomable text area</li>
		<li>File operation toolbar</li>
		<li>Added Arabian translation</li>
</ul>

	<p>Minor changes:</p>
<ul>
		<li>Build with Qt 4.8</li>
		<li>Strike out revoked keys in keylist and add warning to keydetails dialog</li>
		<li>Change default iconsize to 24x24</li>
		<li>Show selection for keyring files in import dialog</li>
		<li>Understandable message if no private key found for decryption</li>
		<li>Add button to copy fingerprint in key detail dialog and remove whitespaces on copy</li>
		<li>Automatically restart gpg4usb on language change</li>
		<li>Change file encryption to single dialogs for en- and decryption</li>
		<li>Disable tab related actions when no tab is shown</li>
</ul>

	<p>Bugfixes:</p>
<ul>
		<li>Fix crash on canceling password dialog on Windows</li>
		<li>Clear password cache after signing, if password remember isn't enabled</li>
		<li>Handle uft8 encoding correctly for keys</li>
		<li>Fix random crash when searching key on key server</li>
</ul>

</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2012-03-09:</div>
	<div class="box_content"><p>Chinese translation is integrated in the <a href="download.html" title="Download">0.3.1.1 zip file</a>. 
	Many thanks to Chen who provided the translation.</p>
	<p><img src="./pics/gpg4usb-0.3.1.1-chinese.jpg" alt="gpg4usb chinese translation" /></a></p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2011-12-18:</div>
	<div class="box_content"><p>We added translation for Burmese. Thanks a lot to Russell, 
	who has send us translation files for the beautiful Burmese language. </p>
	<p><img src="./pics/gpg4usb-0.3.1.1-burmese.jpg" alt="gpg4usb burmese translation" /></a></p>
	<p>To use Burmese language, the appropriate font has to be installed on the system, 
	e.g. the Myanmar3 Unicode font on Windows. On linux, this font is contained in the ttf-sil-padauk package. </p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
	<div class="box_title">2011-11-19:</div>
	<div class="box_content"><p>Due to bug in signing UTF-8 encoded messages we provide a bugfix release 0.3.1.1. 
	So you won't get text like "??????" anymore when signing unicode messages. 
	Get it from the <a href="download.html" title="Download">download</a> section.
	</p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2011-11-16:</div> 
	<div class="box_content"><p>Sign and verify finally arrive with gpg4usb 0.3.1! 
	This was one of the most requested features for gpg4usb. 
	So here it is, available with our new release. Verification of signed messages 
	is easier in combination with downloading the sender's key from a keyserver. So we also present: 
	Import public keys from keyserver.</p> 
	<p>Thank's a lot to Tom for the new Vietnamese translation and to our other translators for their continuous work.
	We also fixed the long outstanding "stealth mode"-bug - GnuPG creating an empty directory in the windows Application Data folder. 
	Hurry and download the new release. </p> 

	<p>New features:</p>
<ul>
		<li>Sign and verify messages</li>
		<li>Import keys from keyserver</li>
		<li>Operation to remove double line breaks caused by some webmailers</li>
</ul>
	<p>Bugfixes and changes:</p>
<ul>
		<li>Added Vietnamese translation</li>
		<li>Don't create empty directory in Application Data folder on windows</li>
		<li>Copyable email address in keylist</li>
		<li>Set default filename of exported key to &lt;keyowner-name&gt;.asc</li>
		<li>Added "show keydetails" to context menu of keylist</li>
		<li>Changed license to GPLv3</li>
		<li>Add warning for expired keys in details dialog</li>
		<li>Strike out expired keys in keylist</li>
		<li>Fix crash when hitting save in empty attachment</li>
		<li>Don't show icons in menus</li>
		<li>Fix crashes if no tab is open</li>
		<li>Add public key block to private key export for compatibility with older GnuPG versions</li>
</ul>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2011-01-19:</div> 
	<div class="box_content"><p>0.3.0 released! Gpg4usb supports tabs in the text editor now.
	This eases working on several documents - you could write your response and have the email opened in the same window.
	As we imagined this a better way of handling documents, we decided to go for the next major number. 
	Due to the great and quick work of our translaters, the application is available in six different languages. 
	If you want to provide your language, examine the <a href="docu_translate.html" title="translation documentation">translation documentation</a>. 
	Take a look at the <a href="screenshots.html" title="Screenshots">screenshots</a> and download <a href="download.html" title="Download">here</a>.</p>
	<p>New features:</p>
<ul>
		<li>Tabbed text editor</li>
		<li>Quote action, allowing email style reply</li>
		<li>Add keyfiles to keylist via drag'n'drop</li>
</ul>
	<p>Bugfixes and changes:</p>
<ul>
		<li>Update the Windows Qt library to 4.7</li>
		<li>Warn before overwriting existing files in file encryption</li>
		<li>List keys in deletion dialog</li>
		<li>Encrypt and decrypt undoable</li>
		<li>Allow decryption of empty messages</li>
</ul>
	<p>Signing, verifying and communication with key servers will come in the 0.3 series. 
	Stay tuned to your portable GPG editor - there's nice stuff in the making.</p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2010-12-01:</div> 
	<div class="box_content"><p>0.2.5 is out! We proudly present
	you a shiny new settings dialog. Its now possible to remember password for
	a session and messages encoded "quoted printable" are decoded now. 
	Viriato was so kind to send us an italian translation.
	The still experimental "decode PGP/MIME" feature allows to open attachments with the 
	responsible application. Also we fixed some long outstanding bugs and updated 
	gpg-binaries to the latest version. </p>
	<p>Take a look at the <a href="screenshots.html" title="Screenshots">screenshots</a> or proceed directly to
	the <a href="download.html" title="Download">download page</a>.</p>

	<p>Many thanks to our translators for the smooth and quick translation process short before release again. You are great!</p>
	<p>New features in version 0.2.5:</p>
<ul>
		<li>Tabbed settings dialog</li>
		<li>Redo action in edit menu</li>
		<li>Optional "remember password" function</li>
		<li>Italian translation</li>
		<li>Decoding "quoted printable" works now</li>
		<li>PGP/MIME attachments provide "open with external application" now. 
		PGP/MIME support still considered experimental.</li>
</ul>
	<p>The following bugfixes/changes were made in version 0.2.5:</p>
<ul>
		<li>Ask before overwriting existing files in file encryption</li>
		<li>Syncronize checked keys between file encryption dialog and mainwindow.</li>
		<li>Fix crashing on decrypting twice.</li>
		<li>Update GPG binaries to 1.4.11</li>
		<li>Update the Linux Qt library to 4.7</li>
		<li>Static linux build is now done on debian etch, this means libc => 2.3.6 supported.</li>
</ul>
</div></div><div style="clear:both;">&nbsp;</div>


<div class="middlebox">
<div class="box_title">2010-06-19:</div> 
	<div class="box_content"><p>Summer, sun and new release. Within not quite a month we present you 
	the result of newest polishing and bug-fixing. Viriato showed up and was so kind to provide a spanish 
	translation. Many thanks to him and the other translators for updating the translation files.</p>

	<p>Added features in version 0.2.4:</p>
<ul>
      <li>Open file from command line</li>
      <li>Added setting to save checked private keys on exit <br/>(kind of "encrypt to self"-behaviour)</li>
      <li>Added link to online-tutorial in help menu</li>
		<li>Added spanish translation</li>
		<li>Added undo to edit-menu</li>	
</ul>
	<p>The following bugfixes/changes were made in version 0.2.4:</p>
<ul>
        <li>In save-dialog on exit, don't exit, if cancel is hit.</li>
		<li>Fixed multilingual and multiplatform behaviour of shortcuts.</li>
		<li>Statically build with Qt 4.5 on Debian Sarge again, so it should run on rather old Linux-Distris</li>
		<li>From now on the download files are <a href="http://upx.sourceforge.net/" title="upx-compression">upx-compressed</a> by default</li>
</ul>
	<p>Furthermore we started the implementation of PGP-MIME-parsing. This implementation is rather incomplete.
	We're not sure, if it's working under all circumstances. Also we're not yet satisfied with the GUI, 
	so we marked it experimental in the settings dialog. If this warning is not keeping you away from testing, 
	and you find errors or non-working PGP-MIME encoded messages, don't hesitate to report.
	</p>
</div></div><div style="clear:both;">&nbsp;</div>


<div class="middlebox">
<div class="box_title">2010-05-02:</div>
	<div class="box_content"><p> Settings, Qt 4.5 and Português do Brasil: We added a settings dialog, fixed 
  	a bug in file encryption and added Brazilian translation (many thanks to Alessandro for this). Furthermore 
  	we updated to Qt 4.5.</p> 
	<p>Added features in version 0.2.3:</p>
<ul>
        <li>Added settings dialog</li>
        <li>Added brazilian translation</li>
</ul>
	<p>The following bugfixes/changes were made in version 0.2.3:</p>
<ul>
        <li>Updated to Qt 4.5</li>
        <li>Fixed bug in file encryption, that file is encrypted for checked, not the selected keys.</li>
</ul>
	<p>Again many thanks to the bugreporters. This time goes a special thanks to Alessandro for brazilian 
  	translation.</p>
</div></div>

<div class="middlebox">
<div class="box_title">2010-03-02:</div> 
	<div class="box_content"><p>Encodings, charsets and Шифрование: We rounded up a new release, 
 	repaired bugs dealing with non ascii encodings and also bring you a new translation. Thanks to Kirill 
 	you are now able to use gpg4usb with a russian interface. Furthermore you are now able to view key-properties and export private keys.<br/>
  	</p>
  	<p>Added features in version 0.2.2:</p>
<ul>
		<li>Added key-property-dialog in key management</li>
		<li>Added export of private key</li>
		<li>Added russian translation</li>
		<li>Added warn message for key deletion</li>
</ul>
	<p>Additionally the following bugs were fixed in version 0.2.2:</p>
<ul>
    	<li>Fixed the keydb not found error, when umlauts, cyrillic and other special characters are in the pathname.</li>
    	<li>Set minimum keysize to 768 Bit (required by gnupg for el-gamal subkey)</li>
    	<li>Keysize-Bug fixed. Now when generating a key, the key has correct size<br/>
    	<b>NOTE:</b> When you created a key with an earlier version of gpg4usb, you should be aware, that it may only has a keysize of 1024 Bit. You can check this with the key-property dialog.</li>
</ul>
	<p>Many thanks to the bugreporters. Special thanks go to Kirill for russian translation and lots of testing on russian Windows.</p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2010-01-14:</div>
	<div class="box_content"><p>Another bugfix-release. Changed in version 0.2.1:</p>
<ul>
    	<li>UTF-8 en-/decryption works (solving text encoding problems e.g. in cyrillic)</li>
    	<li>Bug in file encryption on Windows resolved</li>
</ul>
	<p>Many thanks to the bugreporters. Special thanks go to Fabian for fixing the fileencryption bug.</p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2009-10-08:</div> 
	<div class="box_content"><p>gpg4usb, your portable application for gpg encryption is still alive! Version 0.2 is out, featuring:</p>
<ul>
		<li>Keymanagement</li>
		<li>Key-Generation</li><li>File encryption/decryption</li></ul>
	<p>and lots of bug fixes and smaller improvements. <a href="download.html" title="Download">Download now!</a></p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2008-12-17:</div> 
	<div class="box_content"><p>We realized that as a side effect of building linux version with glibc &lt; 2.4, gpg4usb also
	runs on 2.4 kernels, as used in small linux-distris, like <a href="http://damnsmalllinux.org/" title="damn-small-linux">damn-small-linux</a>.
	We only had to include a new built gpg-binary for linux. Get the new version from the 
	<a href="download.html" title="Download">download section</a>. Windows executable inlcuded as always.
	</p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2008-12-15:</div> 
	<div class="box_content"><p>A new release! gpg4usb v.0.1.1 is out, a release with minor modifications from our stable 
	branch. Get it from our <a href="download.html" title="Download">download section</a>. New in this version:
	</p> 
<ul> 
		<li>keylist is a table now, so being sortable by email or name</li>
		<li>prevent "No Data" error, that occured on decryption in some cases</li>
		<li>linux build now done on debian release from 2005 (sarge), so any newer linux distribution should 
		be supported (glibc &gt;= 2.3.2)</li>
</ul>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2008-08-23:</div> 
	<div class="box_content"><p>After a hint from Yucca from the
  	<a href="http://portablefreeware.com/forums/viewtopic.php?p=13563#13563" title="portablefreeware forum">portablefreeware forum</a>
  	we also provide a <a href="http://upx.sourceforge.net/" title="upx-compression">upx-packed</a> build, which brings the size of
  	the unzipped program down to 9mb. Its available from our <a href="download.html" title="Download">download section</a>.
	</p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2008-08-12:</div> 
	<div class="box_content"><p>Updated zipfile, 2 more libs added in linux-version, that may be missing on some systems - <a href="download.html" title="Download">Download</a>
	</p>
</div></div><div style="clear:both;">&nbsp;</div>

<div class="middlebox">
<div class="box_title">2008-08-10:</div> 
	<div class="box_content"><p>Initial Release v0.1</p>
</div></div><div style="clear:both;">&nbsp;</div>

