


<div class="middlebox">
	<div class="box_title">2016-01-05</div> 
    <div class="box_content">
    <p>
        <strong>New stable release 0.3.3-2</strong><br/>
    <ul>        
        <li>Updated the included GnuPG-binaries from 1.4.18 to 1.4.20 (<a href="https://lists.gnupg.org/pipermail/gnupg-announce/2015q1/000363.html">Announcement GnuPG 1.4.19</a> and <a href="https://lists.gnupg.org/pipermail/gnupg-announce/2015q4/000382.html">Announcement GnuPG 1.4.20</a>).</li>
	<li>Added french translation. Thanks a lot to Pierre and PARADOX2050 for providing the files</li>
	<li>Updated greek translation. Thanks to George for the corrections</li>
</ul>
            You may download <a href="/download/gpg4usb-0.3.3-2.zip">gpg4usb-0.3.3-2</a> (SHA1: 67290eb275d8b22b2fb9aa0b3950afa046fe7129).</p>
    </div>

    <p><a href="development.html#history" title="Development History"><b>Previous News</b></a></p>

</div>

<div style="clear:both;">&nbsp;</div>
