


<div class="middlebox">
	<div class="box_title">2014-08-12:</div> 
    <div class="box_content">
    <p>
        <strong>New stable release 0.3.3-1</strong><br/>
    <ul>        
        <li>gpg4usb-0.3.3-1 additionally contains a 64-bit linux binary now, so there's no need to have 32-bit compatibility
            libraries installed on a 64-bit linux system anymore</li>
        <li>this release contains japanese translation, thanks a lot to Andoh.</li>
        <li>we changed the behaviour of the "remove double linebreaks"-action. It doesn't filter GPG-headers anymore
        </li>
    </ul>
            You may download <a href="http://gpg4usb.org/download/gpg4usb-0.3.3-1.zip">gpg4usb-0.3.3-1</a> now.</p>
    <p>
        <strong>New alpha release 0.4</strong><br/>
	This release additionally contains binaries for MacOS. But since we had to rewrite the whole core, this release needs a lot of testing. So, if you want to be sure, better get the stable release. If you want to have a look what is planned for the release when it is finished have a look on our <a href="http://cpunk.de/svn/src/gpg4usb/trunk/TODO" title="TODO-List">TODO-List</a>.<br/>
	Changes in this release till now:
    <ul>  
<li>added encrypt to self functionality, so that every message additionally is encrypted for the choosen key</li>	
<li>added find widget</li>	
<li>added posibility to change path of keydb for using the keydb of other applications</li>	
<li>show key details in an extra tab, not in a window</li>	
<li>added refresh key from keyserver</li>	
<li>added upload key to keyserver</li>	
<li>added possiblity to add/remove keyservers</li>	
<li>added posibility for creating RSA-keys</li>	
<li>removed key management and integrated these functionalities in main window</li>	
    </ul>      
	You may download <a href="http://gpg4usb.org/nightly/gpg4usb-0.4.0-alpha-r1120.zip">gpg4usb-0.4-alpha</a> now.
    </p>

    <p>
        <strong>Donations</strong><br/>
        Some people told us that they like gpg4usb and would want to donate. We are happy if you enjoy gpg4usb, 
        and about your feedback. If you want to donate we would be happy if you support 
        <a href="http://frontlinedefenders.org/donate">Frontlinedefenders</a>, as they could do better things with the 
        money, and, you know, they provided us with the mac mini :). You could also take part in the fund raising campaign for gnupg on <a href="http://goteo.org/project/gnupg-new-website-and-infrastructure/">goteo.org</a> if you have some money to spend.
    </p>
    </div>

    <p><a href="development.html#history" title="Development History"><b>Previous News</b></a></p>

</div>

<div style="clear:both;">&nbsp;</div>
